@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 6, 6, 15;
  --background-end-rgb: 25, 35, 77;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 6, 6, 15;
    --background-end-rgb: 25, 35, 77;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      40deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

.button-color {
    background-color: rgb(25, 35, 77)
}

.footer-icon {
  height: 24px;
  width: 24px;
}

.footer-icon:first-child {
  margin-right: 0.75rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
