@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 6, 6, 15;
    --background-end-rgb: 25, 35, 77;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      40deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

.button-color {
    background-color: rgb(25, 35, 77)
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
